.sidebar__price {
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 6px;

   .sidebar__range {
      flex: 1;
      padding: 3px 6px 3px 8px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid gray;
      cursor: text;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      /* Firefox */
      input[type=number] {
         -moz-appearance: textfield;
      }

      h4 {
         font-size: 13px;
      }

      input {
         font-size: 15px;
         width: 100%;
         border: none;

         &:focus {
            outline: none;
         }

         &::placeholder {
            color: rgb(89, 88, 88);
         }
      }
   }
}