
.list{
   width: 100%;
   .list__wrapper{
      width: 1220px;
      margin: 0 auto;
      display: flex;
      gap: 20px;
      .list__box{
         flex: 5;
         display: flex;
         width: 100%;
         gap: 20px;
         .list__sidebar{
            flex: 1;
         }
         .list__list-column{
            flex: 3;
            .list__top-row{
               width: 100%;
               display: flex;
               justify-content: space-between;
               align-items: center;
            }
            .list__list{
               display: flex;
               flex-direction: column;
               gap: 14px;
            }
         }
      }
      .list__holder{flex: 1;}
   }
}