.trips{
   height: calc(80dvh - 70px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   h2{}
   img{}
   button{
      color: white;
      padding: 10px 20px;
      width: 500px;
      font-weight: 600;
      font-size: 16px;
      border: none;
      border-radius: 200px;
      background-color: rgb(65, 99, 239);
      &:hover{
         background-color: rgb(4, 4, 194);
      }
   }
   .trips__option{
      width: 500px;
      padding: 10px;
      border: 1px solid rgb(171, 170, 170);
      border-radius: 16px;
      display: flex;
      align-items: center;
      .trips__content{
         flex: 1;
         h4{
            height: 50%;
         }
         p{
            height: 50%;
         }
      }
      .trips__ico{
         font-size: 26px;
      }
   }
}