.policies {
   display: flex;

   .policies__title-box {
      flex: 1;
      padding: 20px;

      .policies__title {
         font-weight: 500;
         font-size: 25px;
      }
   }

   .policies__box {
      margin-top: 20px;
      padding: 10px;
      flex: 2;

      .policies__list-item {

         ul {
            li {
               font-size: 15px;
               font-weight: 300;
               margin-bottom: 15px;
               margin-left: 20px;

               strong {
                  font-weight: 500;
               }
            }
         }
      }

      .policies__p-item {
         p {
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
            margin-left: 5px;
         }
      }
   }
}

.policies__headline {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 8px;
}