.sidebar {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;

   .sidebar__filters {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      .sidebar__title {
         font-size: 20px;
         font-weight: bolder;
      }

      .sidebar__filter {
         .sidebar__headline {
            font-weight: normal;
            margin-bottom: 4px;
            cursor: default;
         }

         .sidebar__box {
            padding: 6px 0 0 0;
         }

         .sidebar__starrating {
            width: 100%;
            gap: 4px;
            display: flex;
            flex-wrap: wrap;

            .sidebar__starrating-item {
               display: flex;
               border-radius: 6px;
               background-color: white;
               border: 1px solid gray;
               padding: 7px 10px;
               font-size: 20px;
               cursor: pointer;

               &:hover {
                  background-color: aliceblue;
               }

               span {
                  font-size: 15px;
                  line-height: 1.2;
                  padding-right: 4px;
               }

               div {
                  min-width: 25px;
                  text-align: center;
                  font-size: 15px;
                  line-height: 1.2;
                  padding-right: 4px;
               }
            }

            .sidebar__starrating-item--active {
               border: 2px solid black;
               background-color: aliceblue;
            }
         }
      }
   }
}



